<h1>Que-Ans</h1>

<div class="question">Singleton Class and Singleton Design Pattern</div>
<div class="answer">
	<p>Before dive into Singleton lets have a look into dynamic dispatching in ruby. With each method call, the Ruby interpreter needs to examine the inheritance hierarchy of the receiver in order to find the method that will be executed.
	<p>Example
	<div class="code">
	  1.9.3p125 :001 > foo = Hash.new
     => {} 
    1.9.3p125 :002 > foo.class
     => Hash 
    1.9.3p125 :003 > foo.size
     => 0 
    1.9.3p125 :004 >
	</div>
</div>
