<div style='border:1px solid #999;border-radius:6px;padding:10px;margin-top:100px;text-align:center;font-size:11px;'>
	<a href='#' title='Contact Us'>Contact Us</a> | <a href='#' title='Sitemap'>Sitemap</a>
</div>